* {
 margin:0;
 padding:0;
}
#wrapper {
	width: 700px;
	margin: 0 auto;
	line-height: 1.5;
	border: solid 1px #ccc;
}
#main {
	width: 700px;
	overflow: hidden;
	background-color: #ffc;
}
#header {
	width: 700px;
	height: 50px;
	background-color: #6ff;
}
#menu {
	width: 300px;
	float: left;
	background-color: #ff9;
}
#contents {
	float: left;
	width: 400px;
	background-color: #eee;
}
#footer {
	clear: both;
	width: 700px;
	height: 50px;
	text-align: center;
	background-color: #ccc;
}
#menu ul {
	list-style: none;
	margin-left: 1em;
}
h1, h2, p {
  margin: 0 1em;
}
